@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{
  html{
    @apply scroll-smooth
  }
  body{
    @apply font-main text-fs-400 overflow-x-hidden min-h-screen leading-normal bg-custom-white text-black select-none
  }
}

.custom-container{
  margin-block: 1em;
  padding-inline: calc(100% - 1em)
}

.custom-divider{
  @apply w-[90%] mx-auto h-[1px] bg-black
}

.custom-line{position: relative;}
.custom-line::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 1px;
  background-color: black;
}